*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
}
.root{
  width: 250px;
  height: 500px;
  margin: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.root>img{
  width: 100%;
  height: 260px;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  &:hover{
    transform: scale(1.1);
  }
}
.root>h4{
  margin: 10px;
  font-size: 16px;
}
.box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ionIcon>ion-icon{
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}
.btn{
  background-color: rgb(27, 145, 145);
  font-size: 17px;
  border: 1px solid;
  padding: 5px 45px;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    background-color: rgba(27, 145, 145, 0.713);
  }
}
.num{
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}